.login-card
{
    width: 400px;
}

.images-login-card
{
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.image-logo 
{
    max-width: 500px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 1rem auto;
}